@import "variables";

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $bg;
  background-image: 
      radial-gradient(at 47% 33%, hsl(87.00, 55.00000000000001%, 57.99999999999999%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(271.58, 63%, 24%) 0, transparent 55%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-page{

  margin: 0 auto;
  width: 450px;
  backdrop-filter: blur(17px) saturate(167%);
  -webkit-backdrop-filter: blur(17px) saturate(167%);
  background-color: rgba(44, 73, 123, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    border-bottom: .2px solid silver;
    padding-bottom: 20px;
    color: $header;
    margin-top: 20px;
  }
}
form{
  padding:10px 20px;
  margin: 0 auto;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:26px 0px;
  position: relative;

  label{
    text-align: left;
    letter-spacing: 1px;
    font-size: 21px;
    margin-bottom: 8px;
    color: $text-color;
  }
  .completed{
    text-align: center;
    font-size: 18px;
    color: $text-color;
    width: 290px;
    height: 35px;
    border-radius: 10px;
    border: none;
    backdrop-filter: blur(22px) saturate(163%);
    -webkit-backdrop-filter: blur(22px) saturate(163%);
    border-radius: 12px;
    background-color: rgba(17, 25, 40, 0.81);
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-bottom: 5px;
    &:focus{
      background-color:$bg-compelete;
      border: 2px solid $border-compelete;
      outline: none;
    }
  }
}
.uncompleted{
    text-align: center;
    font-size: 18px;
    color: $text-color;
    width: 290px;
    height: 35px;
    border-radius: 10px;
    border: none;
    backdrop-filter: blur(22px) saturate(163%);
    -webkit-backdrop-filter: blur(22px) saturate(163%);
    border: 2px solid #c0392b;
    background-color:#c03a2b95;

    border-radius: 12px;
    margin-bottom: 5px;
    &:focus{
      outline: none;
      background-color:$bg-compelete;
      border: 2px solid $border-compelete;
    }

}
.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  color: $border-compelete;
  font-size: 18px;
  text-align: center;
  margin: 20px 10px 35px 60px;
  input[type=checkbox]{
    width: 20px;
    height: 20px;
    border: 1px solid $border-compelete;
    appearance: none;
    border-radius: 5px;
    margin-left: 20px;
    transition: all .2s ease;
    &:checked{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $border-compelete;
    }
  }
}
.button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  a{
    color: $border-compelete;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;
    margin-right: 50px;
    &:hover{
      color: #27ae5fb0;
    }
  }
  button{
    background-color: $border-compelete;
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 50px;
    color: $text-color;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      background-color: #27ae5fb0;
    }
  }
}
  span{
    transition: all .3s ease-in;
    position: absolute;
    background-color: #c23616;
    padding: 2px;
    border-radius:2px;
    bottom: -22px;
    font-size: 14px;
    color: $text-color;
  }
